@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Roboto:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo 2', cursive;
}

/* =========================== Utility =========================== */
.flex{
    display: flex;
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}

/* ================================ header ============================= */
.mystory{
    width: 100%;
    border: 2px solid red;
    display: flex;
    overflow-y:hidden;
    
}
.mystory-add-box{
    border: 2px solid black;
}
.user-story-profile{
    border-radius: 50%;
}
.user-story-profile img{
    width: 61px;
    border-radius: 50%;
    border: 2px solid white;
}
.user-story-add{
    position: relative;
    top: 18px;
    left: -16px;
    display: flex;
    background-color:  #1877F2 ;
    border-radius: 50%;
    border: 2px solid white;
}
.bi-plus{
    color: white;
    background-color:#1877F2 ;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.friend-story-profile{
    border-radius: 50%;
    border: 3px solid darkmagenta;
    margin-right: 1rem;
}
.friend-story-profile img{
    width: 61px;
    border-radius: 50%;
    border: 3px solid white;
}
.friend-story{
    display: flex;
    border: 2px solid green;
}
.header{
    position: relative;
}

/* stroy veiw section */
.friend-story-data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid red;
}
.friend1-story{
    background-color: black;
    z-index: -1;
    height: 100%;
    width: 500px;
}
.freind-story-header{
    position: absolute;
    color: white;
    width: 500px;
    /* border: 2px solid red; */
}
.friend-story-body{
    position: relative;
   
    top: 10px;
    z-index: -1;
    height: 85%;
    width: 100%;
}
.friend-story-body img{
    width: 100%;
    height: 100%;
}
.friend-profile-story img{
    width: 31px;
    border-radius: 50%;
    margin: 12px;
}
.friend-story-reply{
    border: 2px solid transparent;
    width: 100%;   
    padding: 6px;
    padding-left: 12px;
    border-radius: 21px;
    background-color: white;
    margin: 6px 21px;
}
.time-stick{
    width: 100%;
    display: block;
}
.time-stick-color{
    width: 60%;
    padding: 2px;
    background-color: thistle;
}
.friend-story-footer{
    /* border: 2px solid red; */
    height: 15%;
}
.friend-story-footer input{
    width: 85%;
    outline: none;
    padding: 2px;
    border: 2px solid transparent;
    font-size: 1.1rem;
}
.friend-story-footer h3{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1877F2;
    /* border: 2px solid red; */
    padding: 0px 6px;
}
.hidden{
    display: none;
}
.friend-story-close{
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
}
.bi-x-circle{
    color: white;
}